{% extends 'base.html' %}
{% block content %}
<div class="max-w-3xl mx-auto mt-10 mb-10 p-6 bg-gray-200 rounded-lg shadow">
    <h2 class="text-2xl font-semibold mb-4">🎥 Live Stream Page</h2>
    <p class="text-gray-700 mb-6">Welcome! This is the live stream section for parents.</p>

    <img class="" id="cameraFeed" src="http://10.51.12.161:8080/video" alt="Live Camera Stream">

    <button class="bg-red-600 mt-4 text-white py-2 px-4 rounded-lg hover:bg-blue-700 transition" id="refreshButton" onclick="refreshStream()">Refresh Stream</button>

    <script>
        function refreshStream() {
            const img = document.getElementById('cameraFeed');
           
            const oldSrc = img.src;
            img.src = '';
            img.src = oldSrc;
        }
    </script>
</div>
{% endblock %}
